body {
    color: black !important;
}


/* Fejléc stílusok */

.container{
    display: flex;
}

.container  div:first-child{
    margin-right: auto;
}


header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
}


.logo img {
    width: 250px; 

}

.menuIcon{
    padding: 5px;
    margin: 15px;
}

.menuIcon span {
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
  
.menuIcon span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
.menuIcon:hover span::after {
    transform: scaleX(1);
}
  
  
  
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
  
.closeBtn {
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
}
  

.search input {
    margin: 15px;
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Navbar stílusok */

.flex-container {
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 100%;
    padding: 15px;
}
  
.flex-container div {
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    width: 10.1%;
    text-align: center;
}

.menuPontok{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: black;
}

.menuPontok:hover{
    color: white; 

}


.city-dropdown select {
    padding: 5px;
    margin: 10px 0;
}




.filmKepek{
    width: 200px;
}

.movie-cards{
    margin-left: 25%;
    margin-right: 25%;
}

/* footer */
footer{
    background-color: black;
    color: white;
    width: 100%;
}
.footerContainer{
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}



/* hamburger menu */
/* .containerHamburger {
    max-width: 1050px;
    width: 90%;
    margin: auto;
    display: none;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    display: none;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: orange;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 94, 0, 0.5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: white;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  } */

@media (width <= 1450px) {
    .flex-container div {
        width: 15.1%;
    }
}

@media (width <= 970px) {
    .flex-container div {
        font-size: 15px;
    }
}

@media (width <= 925px) {
    .flex-container div {
        font-size: 12px;
    }
}

@media (width <= 990px) {
    .footerContainer{
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (width <= 770px) {
    .flex-container{
        display: none;
    }
    .menuIcon{
        display: none;
    }
    .search{
        display: none;
    }
    /* .navbar{
        display: flex;
    }
    .containerHamburger{
        display: flex;

    } */

}




